{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="{% static 'about.css' %}">
</head>
<body>
    <div class="container">
        <div class="about-content">
            <h1>About Me</h1>
            <p>Hi, I'm Yash Choudhary, an aspiring Data Scientist with a strong background in data analysis, machine learning, and software development. I am currently pursuing a B.Tech in Data Science at Bennett University and have worked on various projects that showcase my skills and expertise.</p>
            <p>Here are some of my key achievements:</p>
            <ul>
                <li>Cleared Amazon Machine Learning Summer School ’23</li>
                <li>Achieved an impressive Graduation Year based Rank of AIR 70 among 180,000+ candidates in CODEKAZE’23</li>
                <li>Top 5 team among 400+ teams in Com-P-athon’22</li>
            </ul>
            <p>Feel free to browse through my portfolio to see my projects and experience in more detail. Thank you for visiting!</p>
        </div>
    </div>
</body>
</html>
